{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/receipts.css' %}">
</head>

<body>
    <header>
        <nav class="nav-grid">
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">Expense Categories</a></li>
                <li><a href="{% url 'account_list' %}">Payment Method</a></li>
                <li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
                <li><a href="{% url 'create_account' %}">Create Payment Method</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        <p>Hello World!</p>
    </footer>
</body>

</html>
