{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense_cat in expense_category_list %}
            <tr>
                <td>{{ expense_cat.name }}</td>
                <td>{{ expense_cat.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}