@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

nav {
    border-bottom: 1px solid teal;
    padding: 16px;
    background-color: salmon;
}

.nav-grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
}

nav a{
    color: navy;
    padding: 0px 0px 0px 0px;
}

footer p{
    position: static;
    background: teal;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 16px;
}